---
title: Lafayette LA Photo Booth Rental | Ohh Snap Photo Booth
description: Test description
keywords: photo booth rental, photo booth rental
layout: default
pagename: bloglist
location: Lafayette
permalink: "/blog/"
---

    <!-- WELCOME -->
    <section class="pt-13 pt-md-12 bg-dark">
      <div class="container-lg">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-12 text-white">
            <div class="text-center col-lg-8 mx-auto">
            <!-- Preheading -->
            <h6 class="text-uppercase text-warning mb-5">
              News from us
            </h6>

            <!-- Heading -->
            <h1 class="display-3 mb-4">
              Photo Booth Blog
            </h1>

            <!-- Text -->
            <p class="fs-lg">
             A collection of articles of past events and resources on how to maximize a photo booth for activations outside of the typical wedding or party. 
            </p>
            </div>
            <!-- Form -->
           {% include search-form.html %}

          </div>
        </div>
      </div>
    </section>

    <!-- SHAPE -->
    <div class="position-relative">
      <div class="shape shape-fluid-x shape-bottom text-dark pb-18">
        <div class="shape-img pb-8 pb-md-11">
          <svg viewBox="0 0 100 50" preserveAspectRatio="none"><path d="M0 0h100v25H75L25 50H0z" fill="currentColor"/></svg>        </div>
      </div>
    </div>

    <!-- POSTS -->
    <section class="pt-10 pt-md-12 posts">
      <div class="container-lg">
        <div class="row mt-n6">
            
          {% for post in site.tags.blog limit:3 %} 
          
           
              <div class="col-md-4">
                 {% include postbox.html %}
              </div>
         
          {% endfor %}
         
        </div>
      </div>
    </section>
   
{% for post in site.tags.featured limit:1 %} 

    <!-- Featured Post -->
    <section class="pt-9 pt-md-11 posts">
      <div class="container-lg">
        <div class="row">
          <div class="col-12">

            <!-- Heading -->
            <h6 class="h1 mb-0">
              Featured Post
            </h6>

            <!-- Text -->
            <p class="text-gray-600">
              Seasonal Photo Booth Resource Articles 
            </p>

           
            <!-- Card -->
            <div class="card card-lg rounded-top-start rounded-bottom-end lift lift-lg">
              <div class="row gx-0">
                <div class="col-md-6 bg-cover rounded-top-start my-n2 vh-50 vh-md-75" style="background-image: url({{ post.image }}); background-position: center center;background-size:cover">

                 
                </div>
                <div class="col-md-6">

                  <!-- Body -->
                  <div class="card-body">

                    <!-- Preheading -->
                    <h6 class="font-sans-serif text-primary mb-2">
                      Featured Post
                    </h6>

                    <!-- Heading -->
                    <h2 class="display-4 mb-4">
                      {{ post.title }}
                    </h2>

                    <!-- Text -->
                    <p class="mb-4">
                       {{ post.excerpt | strip_html | truncatewords:15 }}
                    </p>

                    <!-- Link -->
                    <a class="stretched-link" href="{{ post.url | absolute_url }}"></a>

                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    {% endfor %}
    
    <!-- USER EXPERIENCE -->
    <section class="pt-9 pt-md-11 posts">
      <div class="container-lg">
        <div class="row align-items-center mb-6">
        {% for post in site.tags.blog offset: continue %}
           
             <div class="col-md-4">
             {% include postbox.html %}
              </div>
          
         {% endfor %}
        </div>
       
      </div>
    </section>
    {% comment %}
    <!-- Example of Category grouping -->
    <!-- SOLOPRENEURS -->
    <section class="pt-9 pt-md-11">
      <div class="container-lg">
        <div class="row align-items-center mb-6">
          <div class="col-md">

            <!-- Heading -->
            <h1 class="mb-0">
              Solopreneurs
            </h1>

            <!-- Text -->
            <p class="text-gray-600 mb-2 md-mb-0">
              How to grow a business by yourself.
            </p>

          </div>
          <div class="col-md-auto">

            <!-- Button -->
            <a class="btn btn-sm btn-primary" href="#!">
              View All
            </a>

          </div>
        </div>
        <div class="row mt-n6">
          <div class="col-md-4">

            <!-- Card -->
            <div class="card card-sm rounded-top-start rounded-bottom-end lift lift-lg mt-6">

              <!-- Image -->
              <img class="card-img-top rounded-top-start" src="assets/img/blog/post-header-4.jpg" alt="...">

              <!-- Shape -->
              <div class="position-relative">
                <div class="shape shape-fluid-x shape-top text-white">
                  <div class="shape-img pb-5">
                    <svg viewBox="0 0 100 50" preserveAspectRatio="none"><path d="M0 25h25L75 0h25v50H0z" fill="currentColor"/></svg>                  </div>
                </div>
              </div>

              <!-- Body -->
              <div class="card-body">

                <!-- Heading -->
                <h2 class="mb-2">
                  Build a culture where everyone designs.
                </h2>

                <!-- Text -->
                <p class="fs-sm mb-4">
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                </p>

                <!-- Footer -->
                <div class="d-flex align-items-center">

                  <!-- Avatar -->
                  <div class="avatar avatar-xs">
                    <img class="avatar-img rounded-circle" src="assets/img/avatars/avatar-9.jpg" alt="...">
                  </div>

                  <!-- Body -->
                  <div class="ms-4 text-start">

                    <!-- Title -->
                    <p class="small mb-0">
                      Danielle Borch
                    </p>

                    <!-- Position -->
                    <p class="small text-muted mt-n1 mb-0">
                      January 01, 2020
                    </p>

                  </div>

                </div>

                <!-- Link -->
                <a class="stretched-link" href="blog-post.html"></a>

              </div>
            </div>

          </div>
          <div class="col-md-4">

            <!-- Card -->
            <div class="card card-sm rounded-top-start rounded-bottom-end lift lift-lg mt-6">

              <!-- Image -->
              <img class="card-img-top rounded-top-start" src="assets/img/blog/post-header-6.jpg" alt="...">

              <!-- Shape -->
              <div class="position-relative">
                <div class="shape shape-fluid-x shape-top text-white">
                  <div class="shape-img pb-5">
                    <svg viewBox="0 0 100 50" preserveAspectRatio="none"><path d="M0 25h25L75 0h25v50H0z" fill="currentColor"/></svg>                  </div>
                </div>
              </div>

              <!-- Body -->
              <div class="card-body">

                <!-- Heading -->
                <h2 class="mb-2">
                  Designers can learn from interior design.
                </h2>

                <!-- Text -->
                <p class="fs-sm mb-4">
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                </p>

                <!-- Footer -->
                <div class="d-flex align-items-center">

                  <!-- Avatar -->
                  <div class="avatar avatar-xs">
                    <img class="avatar-img rounded-circle" src="assets/img/avatars/avatar-6.jpg" alt="...">
                  </div>

                  <!-- Body -->
                  <div class="ms-4 text-start">

                    <!-- Title -->
                    <p class="small mb-0">
                      Danny Copter
                    </p>

                    <!-- Position -->
                    <p class="small text-muted mt-n1 mb-0">
                      April 05, 2020
                    </p>

                  </div>

                </div>

                <!-- Link -->
                <a class="stretched-link" href="blog-post.html"></a>

              </div>
            </div>

          </div>
          <div class="col-md-4">

            <!-- Card -->
            <div class="card card-sm rounded-top-start rounded-bottom-end lift lift-lg mt-6">

              <!-- Image -->
              <img class="card-img-top rounded-top-start" src="assets/img/blog/post-header-5.jpg" alt="...">

              <!-- Shape -->
              <div class="position-relative">
                <div class="shape shape-fluid-x shape-top text-white">
                  <div class="shape-img pb-5">
                    <svg viewBox="0 0 100 50" preserveAspectRatio="none"><path d="M0 25h25L75 0h25v50H0z" fill="currentColor"/></svg>                  </div>
                </div>
              </div>

              <!-- Body -->
              <div class="card-body">

                <!-- Heading -->
                <h2 class="mb-2">
                  Detach your worth from your work.
                </h2>

                <!-- Text -->
                <p class="fs-sm mb-4">
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                </p>

                <!-- Footer -->
                <div class="d-flex align-items-center">

                  <!-- Avatar -->
                  <div class="avatar avatar-xs">
                    <img class="avatar-img rounded-circle" src="assets/img/avatars/avatar-2.jpg" alt="...">
                  </div>

                  <!-- Body -->
                  <div class="ms-4 text-start">

                    <!-- Title -->
                    <p class="small mb-0">
                      James Owens
                    </p>

                    <!-- Position -->
                    <p class="small text-muted mt-n1 mb-0">
                      May19, 2020
                    </p>

                  </div>

                </div>

                <!-- Link -->
                <a class="stretched-link" href="blog-post.html"></a>

              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    {% endcomment %}
   

    