---
title: Photo Booth help center | Resources for your rental
description: We have built a photo booth help center with our most popular questions. Sectioned out by the timeline of your rental process.
keywords: photo booth rental, photo booth rental, photo booth resources, help center, faq, 
permalink: help-center
---

    <!-- WELCOME -->
    <section class="pt-13 pt-md-12 bg-dark">
      <div class="container-lg">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8 text-center text-white">

            <!-- Preheading -->
            <h6 class="text-uppercase text-warning mb-5">
              Keep it simple
            </h6>

            <!-- Heading -->
            <h1 class="display-3 mb-4">
              Help Center
            </h1>

            <!-- Text -->
            <p class="fs-lg">
              All types of businesses need access to development resources, so we give you the option to decide how much you need to use.
            </p>

            <!-- Form -->
            <form class="mx-auto text-white" style="max-width: 462px;">
              <div class="input-group">
                <span class="input-group-text" id="search">
                  <i class="fe fe-search"></i>
                </span>
                <input type="text" class="form-control" placeholder="Search for keyword or topic" aria-label="Search" aria-describedby="search">
              </div>
            </form>

          </div>
        </div>
      </div>
    </section>

    <!-- SHAPE -->
    <div class="position-relative">
      <div class="shape shape-fluid-x shape-bottom text-dark pb-18">
        <div class="shape-img pb-8 pb-md-11">
          <svg viewBox="0 0 100 50" preserveAspectRatio="none"><path d="M0 0h100v25H75L25 50H0z" fill="currentColor"/></svg></div>
      </div>
    </div>

    <!-- CONTENT -->
    <section class="position-relative py-10 py-md-12">
      <div class="container-lg">
        <div class="row">
          <div class="col-12">

            <!-- Divider -->
            <hr class="bg-white-10 mt-0 mb-7">

          </div>
        </div>
        <div class="row align-items-center mb-7">
          <div class="col-12 col-md">

            <!-- Heading -->
            <h1 class="text-white mb-0">
              Before, during and after Event FAQ's
            </h1>

            <!-- Text -->
            <p class="text-muted mb-md-0">
              We've organized our help by timeline in our rental process. 
            </p>

          </div>
        
        </div>
        <div class="row mt-n6">
           {% for post in site.tags.Before-Event limit:1 %} 
           {% for post in site.tags.Before-Event %}{% if post.categories contains "Before Event" %}{% assign count = forloop.index %}{% endif %}{% endfor %}
           {% if post.categories contains "Before Event" %}
          <div class="col-12 col-md-4">
            <!-- Card -->
            <a class="card card-sm lift lift-lg rounded-top-start rounded-bottom-end overflow-hidden text-reset mt-6" href="#{{ post.categories | escape | url_encode | remove: "%5B%26quot%3B" | remove: "%26quot%3B%5D" | downcase }} " data-scroll>
              <div class="card-body bg-primary py-7">
                <!-- Icon -->
              <div class="icon icon-lg text-center text-white">
                  <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M18 14a3 3 0 110-6 3 3 0 010 6zm-9-3a4 4 0 110-8 4 4 0 010 8z" fill="#335EEA" opacity=".3"/><path d="M17.601 15c3.407.038 6.188 1.76 6.397 5.4.009.147 0 .6-.542.6H19.6c0-2.25-.744-4.328-1.999-6zm-17.6 5.2C.388 15.426 4.26 13 8.983 13c4.788 0 8.722 2.293 9.015 7.2.012.195 0 .8-.751.8H.727c-.25 0-.747-.54-.726-.8z" fill="#335EEA"/></g>
                  </svg>               
              </div>
              </div>
              <div class="card-body py-5">

                <!-- Heading -->
                <h4 class="font-sans-serif mb-0">
                  {{ post.categories }} 
                </h4>

                <!-- Text -->
                <small class="text-muted">
                  {{ count }} articles
                </small>

              </div>
            </a>

          </div>
          {% endif %}
          {% endfor %}
          {% for post in site.tags.During-Event limit:1 %} 
             {% for post in site.tags.During-Event %}{% if post.categories contains "During Event" %}{% assign count = forloop.index %}{% endif %}{% endfor %}
             {% if post.categories contains "During Event" %}
          <div class="col-12 col-md-4">

            <!-- Card -->
            <a class="card card-sm lift lift-lg rounded-top-start rounded-bottom-end overflow-hidden text-reset mt-6" href="#{{ post.categories | escape | url_encode | remove: "%5B%26quot%3B" | remove: "%26quot%3B%5D" | downcase }}" data-scroll>
              <div class="card-body bg-warning py-7">

                <!-- Icon -->
                <div class="icon icon-lg text-center text-white">
                  <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M5.5 4h4A1.5 1.5 0 0111 5.5v1A1.5 1.5 0 019.5 8h-4A1.5 1.5 0 014 6.5v-1A1.5 1.5 0 015.5 4zm9 12h4a1.5 1.5 0 011.5 1.5v1a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-1a1.5 1.5 0 011.5-1.5z" fill="#335EEA"/><path d="M5.5 10h4a1.5 1.5 0 011.5 1.5v7A1.5 1.5 0 019.5 20h-4A1.5 1.5 0 014 18.5v-7A1.5 1.5 0 015.5 10zm9-6h4A1.5 1.5 0 0120 5.5v7a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-7A1.5 1.5 0 0114.5 4z" fill="#335EEA" opacity=".3"/></g></svg>                </div>

              </div>
              <div class="card-body py-5">

                <!-- Heading -->
                <h4 class="font-sans-serif mb-0">
                  {{ post.categories }} 
                </h4>

                <!-- Text -->
                <small class="text-muted">
                  {{ count }} articles
                </small>

              </div>
            </a>

          </div>
          {% endif %}
          {% endfor %}
          {% for post in site.tags.After-Event limit:1 %} 
           {% for post in site.tags.After-Event %}{% if post.categories contains "After Event" %}{% assign count = forloop.index %}{% endif %}{% endfor %}
           {% if post.categories contains "After Event" %}
          <div class="col-12 col-md-4">

            <!-- Card -->
            <a class="card card-sm lift lift-lg rounded-top-start rounded-bottom-end overflow-hidden text-reset mt-6" href="#{{ post.categories | escape | url_encode | remove: "%5B%26quot%3B" | remove: "%26quot%3B%5D" | downcase }}" data-scroll>
              <div class="card-body bg-success py-7">

                <!-- Icon -->
                <div class="icon icon-lg text-center text-white">
                  <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M4 4h16a2 2 0 012 2v12a2 2 0 01-2 2H4a2 2 0 01-2-2V6a2 2 0 012-2z" fill="#335EEA" opacity=".3"/><path d="M18.5 11h-13A1.5 1.5 0 004 12.5v.5h4.586a1 1 0 01.707.293l1 1a2.414 2.414 0 003.414 0l1-1a1 1 0 01.707-.293H20v-.5a1.5 1.5 0 00-1.5-1.5zM5.5 6A1.5 1.5 0 004 7.5V8h16v-.5A1.5 1.5 0 0018.5 6h-13z" fill="#335EEA"/></g></svg>                </div>

              </div>
              <div class="card-body py-5">

                <!-- Heading -->
                <h4 class="font-sans-serif mb-0">
                  {{ post.categories }} 
                </h4>

                <!-- Text -->
                <small class="text-muted">
                 {{ count }} articles
                </small>

              </div>
            </a>

          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>

    <!-- Help Articles -->
    <section>
      <div class="container-lg">
        {% for post in site.tags.Before-Event limit:1 | uniq %} 
        {% if post.categories contains "Before Event" %}
        <div class="row justify-content-between">
          <div class="col-md-4">

            <!-- Header -->
            <div class="position-sticky mb-8" style="top: 2rem;">

              <!-- Heading -->
              <h1 class="mb-4" id="{{ post.categories | escape | url_encode | remove: "%5B%26quot%3B" | remove: "%26quot%3B%5D" | downcase }}">
               {{ post.categories }} 
              </h1>

              <!-- Text -->
              <p class="mb-0">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
              </p>

            </div>

          </div>
          <div class="col-md-7">

            <!-- List group -->
            <div class="list-group list-group-lg list-group-flush mt-n7 mb-9">
            {% for post in site.tags.Before-Event | uniq %} 
            {% if post.categories contains "Before Event" %}
              <div class="list-group-item">

                <!-- Heading -->
                <a class="fs-lg fw-bold text-decoration-none text-reset" href="{{ post.url }}">
                  {{ post.title}}
                </a>

              </div>
              {% endif %}
             {% endfor %}
              
            </div>

          </div>
        </div>
        {% endif %}
        {% endfor %}
        
      </div>
    </section>
   <section>
     <div class="container-lg">
       {% for post in site.tags.During-Event limit:1 | uniq %} 
       {% if post.categories contains "During Event" %}
       <div class="row justify-content-between">
         <div class="col-md-4">
   
           <!-- Header -->
           <div class="position-sticky mb-8" style="top: 2rem;">
   
             <!-- Heading -->
             <h1 class="mb-4" id="{{ post.categories | escape | url_encode | remove: "%5B%26quot%3B" | remove: "%26quot%3B%5D" | downcase }}">
              {{ post.categories }} 
             </h1>
   
             <!-- Text -->
             <p class="mb-0">
               Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
             </p>
   
           </div>
   
         </div>
         <div class="col-md-7">
   
           <!-- List group -->
           <div class="list-group list-group-lg list-group-flush mt-n7 mb-9">
           {% for post in site.tags.During-Event %} 
           {% if post.categories contains "During Event" %}
             <div class="list-group-item">
   
               <!-- Heading -->
               <a class="fs-lg fw-bold text-decoration-none text-reset" href="{{ post.url }}">
                 {{ post.title}}
               </a>
   
             </div>
             {% endif %}
            {% endfor %}
             
           </div>
   
         </div>
       </div>
       {% endif %}
       {% endfor %}
       
     </div>
   </section>
   <section>
        <div class="container-lg">
          {% for post in site.tags.After-Event limit:1 | uniq %} 
          {% if post.categories contains "After Event" %}
          <div class="row justify-content-between">
            <div class="col-md-4">
      
              <!-- Header -->
              <div class="position-sticky mb-8" style="top: 2rem;">
      
                <!-- Heading -->
                <h1 class="mb-4" id="{{ post.categories | escape | url_encode | remove: "%5B%26quot%3B" | remove: "%26quot%3B%5D" | downcase }}">
                 {{ post.categories }} 
                </h1>
      
                <!-- Text -->
                <p class="mb-0">
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                </p>
      
              </div>
      
            </div>
            <div class="col-md-7">
      
              <!-- List group -->
              <div class="list-group list-group-lg list-group-flush mt-n7 mb-9">
              {% for post in site.tags.After-Event %} 
              {% if post.categories contains "After Event" %}
                <div class="list-group-item">
      
                  <!-- Heading -->
                  <a class="fs-lg fw-bold text-decoration-none text-reset" href="{{ post.url }}">
                    {{ post.title}}
                  </a>
      
                </div>
                {% endif %}
               {% endfor %}
                
              </div>
      
            </div>
          </div>
          {% endif %}
          {% endfor %}
          
        </div>
      </section>
    <!-- OPTIONS -->
    <section class="py-10 py-md-12">
      <div class="container-lg">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8 text-center">

            <!-- Divider -->
            <hr class="hr-sm bg-warning mx-auto mb-10 mb-md-12">

            <!-- Heading -->
            <h2 class="display-3 mb-4">
              Didn’t find <span class="text-underline text-underline-warning">an answer</span>?
            </h2>

            <!-- Text -->
            <p class="text-gray-600 mb-9">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna lectus, mattis non accumsan in, tempor dictum neque.
            </p>

          </div>
        </div>
        <div class="row mt-n6">
          <div class="col-md-4">

            <!-- Card -->
            <div class="card card-sm shadow-none mt-6">

              <!-- Image -->
              <img class="card-img-top mw-75 mw-md-100 mx-auto" src="assets/img/illustrations/illustration-7.png" alt="...">

              <!-- Body -->
              <div class="card-body text-center">

                <!-- Heading -->
                <h2 class="mb-2">
                  Schedule a chat
                </h2>

                <!-- Text -->
                <p class="fs-sm text-gray-600 mb-3">
                  We can help you figure out the best solution for issues.
                </p>

                <!-- Link -->
                <a class="h4 font-sans-serif" href="#!">
                  Schedule <i class="fe fe-chevron-right"></i>
                </a>

              </div>
            </div>

          </div>
          <div class="col-md-4">

            <!-- Card -->
            <div class="card card-sm shadow-none mt-6">

              <!-- Image -->
              <img class="card-img-top mw-75 mw-md-100 mx-auto" src="assets/img/illustrations/illustration-3.png" alt="...">

              <!-- Body -->
              <div class="card-body text-center">

                <!-- Heading -->
                <h2 class="mb-2">
                  Submit a ticket
                </h2>

                <!-- Text -->
                <p class="fs-sm text-gray-600 mb-3">
                  Technical issues can be resolved entirely through ticketing.
                </p>

                <!-- Link -->
                <a class="h4 font-sans-serif" href="#!">
                  Create a ticket <i class="fe fe-chevron-right"></i>
                </a>


              </div>
            </div>

          </div>
          <div class="col-md-4">

            <!-- Card -->
            <div class="card card-sm shadow-none mt-6">

              <!-- Image -->
              <img class="card-img-top mw-75 mw-md-100 mx-auto" src="assets/img/illustrations/illustration-4.png" alt="...">

              <!-- Body -->
              <div class="card-body text-center">

                <!-- Heading -->
                <h2 class="mb-2">
                  Get a consultation
                </h2>

                <!-- Text -->
                <p class="fs-sm text-gray-600 mb-3">
                  Have a complicated question? A consultation can help.
                </p>

                <!-- Link -->
                <a class="h4 font-sans-serif" href="#!">
                  Schedule <i class="fe fe-chevron-right"></i>
                </a>


              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
