---
title: '{{site.location}} Photo Booth help center | Resources for your rental'
description: >-
  Need assistance? Visit the Ohh Snap Photobooth Help Center for answers to all
  your questions about photo booth rentals, setup, and services in
  {{site.location}}, LA. We're here to help ensure your event is a hit!
keywords: >-
  Ohh Snap help center, {{site.location}} photobooth support, photo booth FAQ,
  Ohh Snap Photobooth queries, event photo booth help, photo booth rental
  questions, {{site.location}} event assistance, Ohh Snap troubleshooting, photo
  booth setup guide, photobooth service {{site.location}}, Ohh Snap Photobooth
  resources, photobooth rental tips, {{site.location}} party photobooth help,
  Ohh Snap customer support, photobooth operational guide, solve photobooth
  issues, {{site.location}} photo booth advice, photobooth booking questions,
  Ohh Snap usage instructions, {{site.location}} photo booth service info, Ohh
  Snap event guide, quick help Ohh Snap, {{site.location}} photobooth FAQ, photo
  booth problem solving, Ohh Snap Photobooth assistance, photobooth rental
  guidelines, Ohh Snap service details, get photo booth help, contact Ohh Snap
  support, {{site.location}} photobooth maintenance guide.
pagename: help-center
permalink: help-center
---
<!-- WELCOME -->
    <section class="pt-13 pt-md-12 bg-dark">
      <div class="container-lg">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8 text-center text-white">
            <!-- Preheading -->
            <h6 class="text-uppercase text-warning mb-5 editable">
              Keep it simple
            </h6>
            <!-- Heading -->
            <h1 class="display-3 mb-4 editable">
              Help Center
            </h1>
            <!-- Text -->
            <p class="fs-lg text-white editable">
             We understand that everyone has questions, and we believe there are no bad ones! To assist you better, we've compiled a collection of help articles addressing our most frequently asked questions.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- SHAPE -->
    <div class="position-relative">
      <div class="shape shape-fluid-x shape-bottom text-dark pb-18">
        <div class="shape-img pb-8 pb-md-11">
          <svg viewbox="0 0 100 50" preserveaspectratio="none"><path d="M0 0h100v25H75L25 50H0z" fill="currentColor" /></svg></div>
      </div>
    </div>
    <!-- CONTENT -->
    <section class="position-relative py-6 py-md-8">
      <div class="container-lg">
        <div class="row">
          <div class="col-12">

            <!-- Divider -->
            <hr class="bg-white-10 mt-0 mb-7" />

          </div>
        </div>
        <div class="row align-items-center mb-7">
          <div class="col-12 col-md">
            <!-- Heading -->
            <h1 class="text-white mb-0 editable">
              Before, during and after Event FAQ's
            </h1>

            <!-- Text -->
            <p class="mb-md-0 text-white editable">
              These questions are organized by timeline during our rental process.
            </p>
          </div>

        </div>
        <div class="row mt-n6">
           {% for post in site.tags.Before-Event limit:1 %}
           {% for post in site.tags.Before-Event %}{% if post.categories contains "Before Event" %}{% assign count = forloop.index %}{% endif %}{% endfor %}
           {% if post.categories contains "Before Event" %}
          <div class="col-12 col-md-4">
            <!-- Card -->
            <a class="card card-sm lift lift-lg rounded-top-start rounded-bottom-end overflow-hidden text-reset mt-6" href="#{{ post.categories | escape | url_encode | remove: "%5B%26quot%3B" | remove: "%26quot%3B%5D" | downcase }} " data-scroll>
              <div class="card-body bg-primary py-7">
                <!-- Icon -->
              <div class="icon icon-lg text-center text-white">
                  <svg width="24" height="24" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z" /><path d="M18 14a3 3 0 110-6 3 3 0 010 6zm-9-3a4 4 0 110-8 4 4 0 010 8z" fill="#335EEA" opacity=".3" /><path d="M17.601 15c3.407.038 6.188 1.76 6.397 5.4.009.147 0 .6-.542.6H19.6c0-2.25-.744-4.328-1.999-6zm-17.6 5.2C.388 15.426 4.26 13 8.983 13c4.788 0 8.722 2.293 9.015 7.2.012.195 0 .8-.751.8H.727c-.25 0-.747-.54-.726-.8z" fill="#335EEA" /></g>
                  </svg>
              </div>
              </div>
              <div class="card-body py-5">

                <!-- Heading -->
                <h4 class="font-sans-serif mb-0">
                  {{ post.categories }}
                </h4>

                <!-- Text -->
                <small class="text-muted">
                  {{ count }} articles
                </small>

              </div>
            </a>

          </div>
          {% endif %}
          {% endfor %}
          {% for post in site.tags.day-of-event limit:1 %}
             {% for post in site.tags.day-of-event %}{% if post.categories contains "Day of Event" %}{% assign count = forloop.index %}{% endif %}{% endfor %}
             {% if post.categories contains "Day of Event" %}
          <div class="col-12 col-md-4">

            <!-- Card -->
            <a class="card card-sm lift lift-lg rounded-top-start rounded-bottom-end overflow-hidden text-reset mt-6" title="" href="#{{ post.categories | escape | url_encode | remove: "%5B%26quot%3B" | remove: "%26quot%3B%5D" | downcase }}" data-scroll>
              <div class="card-body bg-secondary py-7">

                <!-- Icon -->
                <div class="icon icon-lg text-center text-white">
                  <svg width="24" height="24" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z" /><path d="M5.5 4h4A1.5 1.5 0 0111 5.5v1A1.5 1.5 0 019.5 8h-4A1.5 1.5 0 014 6.5v-1A1.5 1.5 0 015.5 4zm9 12h4a1.5 1.5 0 011.5 1.5v1a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-1a1.5 1.5 0 011.5-1.5z" fill="#335EEA" /><path d="M5.5 10h4a1.5 1.5 0 011.5 1.5v7A1.5 1.5 0 019.5 20h-4A1.5 1.5 0 014 18.5v-7A1.5 1.5 0 015.5 10zm9-6h4A1.5 1.5 0 0120 5.5v7a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-7A1.5 1.5 0 0114.5 4z" fill="#335EEA" opacity=".3" /></g></svg>                </div>

              </div>
              <div class="card-body py-5">

                <!-- Heading -->
                <h4 class="font-sans-serif mb-0">
                  {{ post.categories }}
                </h4>
                <!-- Text -->
                <small class="text-muted">
                  {{ count }} articles
                </small>
              </div>
            </a>
          </div>
          {% endif %}
          {% endfor %}
          {% for post in site.tags.After-Event limit:1 %}
           {% for post in site.tags.After-Event %}{% if post.categories contains "After Event" %}{% assign count = forloop.index %}{% endif %}{% endfor %}
           {% if post.categories contains "After Event" %}
          <div class="col-12 col-md-4">
            <!-- Card -->
            <a class="card card-sm lift lift-lg rounded-top-start rounded-bottom-end overflow-hidden text-reset mt-6" href="#{{ post.categories | escape | url_encode | remove: "%5B%26quot%3B" | remove: "%26quot%3B%5D" | downcase }}" data-scroll>
              <div class="card-body bg-primary-dark py-7">
                <!-- Icon -->
                <div class="icon icon-lg text-center text-white">
                  <svg width="24" height="24" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z" /><path d="M4 4h16a2 2 0 012 2v12a2 2 0 01-2 2H4a2 2 0 01-2-2V6a2 2 0 012-2z" fill="#335EEA" opacity=".3" /><path d="M18.5 11h-13A1.5 1.5 0 004 12.5v.5h4.586a1 1 0 01.707.293l1 1a2.414 2.414 0 003.414 0l1-1a1 1 0 01.707-.293H20v-.5a1.5 1.5 0 00-1.5-1.5zM5.5 6A1.5 1.5 0 004 7.5V8h16v-.5A1.5 1.5 0 0018.5 6h-13z" fill="#335EEA" /></g></svg>                </div>

              </div>
              <div class="card-body py-5">

                <!-- Heading -->
                <h4 class="font-sans-serif mb-0">
                  {{ post.categories }}
                </h4>

                <!-- Text -->
                <small class="text-muted">
                 {{ count }} articles
                </small>

              </div>
            </a>

          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>

    <!-- Help Articles -->
    <section>
      <div class="container-lg">
        {% for post in site.tags.Before-Event limit:1  %}
        {% if post.categories contains "Before Event" %}
        <div class="row justify-content-between">
          <div class="col-md-4">

            <!-- Header -->
            <div class="position-sticky mb-8" style="top: 2rem;">

              <!-- Heading -->
              <h1 class="mb-1" id="{{ post.categories | escape | url_encode | remove: "%5B%26quot%3B" | remove: "%26quot%3B%5D" | downcase }}">
               {{ post.categories }}
              </h1>

              <!-- Text -->
              <p class="mb-0 fs-6" ">
                What you need to know before your event
              </p>

            </div>

          </div>
          <div class="col-md-7">

            <!-- List group -->
            <div class="list-group list-group-lg list-group-flush mt-n7 mb-9">
            {% for post in site.tags.Before-Event  %}
            {% if post.categories contains "Before Event" %}
              <div class="list-group-item">

                <!-- Heading -->
                <a class="fs-lg fw-bold text-decoration-none text-reset" title="{{ post.title}} | {{site.location}} Photo Booth Help Article" href="{{ post.url }}">
                  {{ post.title}}
                </a>

              </div>
              {% endif %}
             {% endfor %}

            </div>

          </div>
        </div>
        {% endif %}
        {% endfor %}

      </div>
    </section>
   <section>
     <div class="container-lg">
       {% for post in site.tags.day-of-event limit:1  %}
       {% if post.categories contains "Day of Event" %}
       <div class="row justify-content-between">
         <div class="col-md-4">

           <!-- Header -->
           <div class="position-sticky mb-8" style="top: 2rem;">

             <!-- Heading -->
             <h1 class="mb-1" id="{{ post.categories | escape | url_encode | remove: "%5B%26quot%3B" | remove: "%26quot%3B%5D" | downcase }}">
              {{ post.categories }}
             </h1>

             <!-- Text -->
             <p class="mb-0 fs-6" ">
               What to expect day of your event
             </p>

           </div>

         </div>
         <div class="col-md-7">

           <!-- List group -->
           <div class="list-group list-group-lg list-group-flush mt-n7 mb-9">
           {% for post in site.tags.day-of-event %}
           {% if post.categories contains "Day of Event" %}
             <div class="list-group-item">

               <!-- Heading -->
               <a class="fs-lg fw-bold text-decoration-none text-reset" title="{{ post.title}} | {{site.location}} Photo Booth Help Article" href="{{ post.url }}">
                 {{ post.title}}
               </a>

             </div>
             {% endif %}
            {% endfor %}

           </div>

         </div>
       </div>
       {% endif %}
       {% endfor %}

     </div>
   </section>
   <section>
        <div class="container-lg">
          {% for post in site.tags.After-Event limit:1  %}
          {% if post.categories contains "After Event" %}
          <div class="row justify-content-between">
            <div class="col-md-4">

              <!-- Header -->
              <div class="position-sticky mb-8" style="top: 2rem;">

                <!-- Heading -->
                <h1 class="mb-1" id="{{ post.categories | escape | url_encode | remove: "%5B%26quot%3B" | remove: "%26quot%3B%5D" | downcase }}">
                 {{ post.categories }}
                </h1>

                <!-- Text -->
                <p class="mb-0 fs-6">
                  Everything is finished, now what?
                </p>

              </div>

            </div>
            <div class="col-md-7">

              <!-- List group -->
              <div class="list-group list-group-lg list-group-flush mt-n7 mb-9">
              {% for post in site.tags.After-Event %}
              {% if post.categories contains "After Event" %}
                <div class="list-group-item">

                  <!-- Heading -->
                  <a class="fs-lg fw-bold text-decoration-none text-reset" title="{{ post.title}} | {{site.location}} Photo Booth Help Article" href="{{ post.url }}">
                    {{ post.title}}
                  </a>

                </div>
                {% endif %}
               {% endfor %}

              </div>

            </div>
          </div>
          {% endif %}
          {% endfor %}

        </div>
      </section>
