---
timezone: America/Chicago
baseurl: ""
url: https://ohhsnapbooth.com
include: ['_pages', '_data','login.html','login','_vendors', '_plugins', email, 'wedding']
name: Ohh Snap Booth
description: "Ohh Snap! Photo Booth offers modern photo booth and 360 booth rentals in Lafayette, LA, and surrounding areas. Perfect for weddings, corporate events, and parties."
author: "Ohh Snap Photo Booth"
relative_permalinks: false
favicon: /assets/favicon/favicon.ico
disqus:
# Enter your Google Analytics web tracking code (e.g. UA-2110908-2) to activate tracking
google_analytics: G-9QW9SLLGLX
logo: /assets/img/logo/ohh-snap-logo.png
locale: en_us
social:
  name: Ohh Snap Photo booth
  links:
    - https://twitter.com/ohhsnapbooth
    - https://www.facebook.com/ohhsnapbooth
    - https://www.pinterest.com/ohhsnapbooth
    - https://instagram.com/ohhsnapbooth
    - https://maps.app.goo.gl/HFYo8vHsEqHiMQfX8
    - https://www.yelp.com/biz/ohh-snap-photo-booth-lafayette-2
    - https://www.theknot.com/marketplace/ohh-snap-photo-booth-lafayette-la-1089431
    - https://www.weddingwire.com/biz/ohh-snap-photobooth-opelousas/024e0ced0369c12b.html
    - https://www.stylemepretty.com/vendor-profile/ohh-snap-photo-booth?location=southeastern-us/louisiana
    - https://www.bing.com/maps?osid=8c037a23-54a0-432d-8ee2-26799c5f2469&cp=30.492782~-92.076716&lvl=16&pi=0&imgid=8a7af4dc-d1f9-4f80-82f7-652189843304&v=2&sV=2&form=S00027
    - https://www.youtube.com/@ohhsnapbooth
    - https://www.linkedin.com/in/ohh-snap-photo-booth
twitter:
  username: "ohhsnapbooth"
schema:
  business_id: "#localbusiness"
  business_type: "LocalBusiness"
  service_radius_meters: 64374

address:
  street: "905 Jefferson St"
  city: "Lafayette"
  region: "LA"
  zip: "70501"
  country: "US"
latitude: "30.221191"
longitude: "-92.018257"
price_range: "$$"
payment_accepted: ["Cash","Credit Card","PayPal","Check"]
opening_hours:
weekday:
  days: ["Monday","Tuesday","Wednesday","Thursday","Friday"]
  opens: "09:00"
  closes: "17:00"
weekend:
  days: ["Saturday","Sunday"]
  opens: "10:00"
  closes: "17:00"
review_count: 50
default_rating_value: "5.0"
phone: "337-366-8995"
og_image: "/assets/img/default-og-image.jpg"
google_site_verification: "84731997131DC6D5C4CE682AF20C5C74"
bing_site_verification: "84731997131DC6D5C4CE682AF20C5C74"
location: Lafayette
alt_location:
  - location: Lake Charles
    url: https://lakecharlesphotobooth.com
  - location: Baton Rouge
    url: https://batonrougephotobooth.rentals
  - location: Alexandria
    url: https://alexandriaphotobooth.com

local_keywords:
      - Scott
      - Carencro
      - Sunset
      - Opelousas
      - Duson
      - Youngsville
      - New Iberia
      - Breaux Bridge
      - Grand Coteau
      - Arnaudville
      - Lafayette
      - Crowley

local_keywords_base: "locations"   # => /locations/<city>/
local_keywords_defaults:
  hero_image:    "/assets/img/gallery/portrait/2023-10-28-78780A.jpg"
  page_image_1:  "/assets/img/booth/IMG_9578.jpg"
  page_image_2:  "/uploads/2018-3-9-66462b-1.jpg"
  page_image_3:  "/assets/img/social-booth/I367-FYY0QWTF4GY2X4BX.jpeg"
  booth_image_map:
    portrait: /uploads/img-0024.jpg
    social:   /uploads/img-2612.jpeg
    roaming:  /uploads/44-santa-portraits-bonus-booth-stock-scaled.jpg
    virtual:  /assets/img/virtual-booth/VirtualBoothPromoStill08.jpg
    glam:     /uploads/sarah-and-william-photo-20250510-time-210514-xl6df1.jpeg
    "360":    /uploads/img-9069.jpeg

# This include is rendered as the page body:
  content_partial: "locations/service-area-sections.html"

local_competitors: Bai booth, The Yard Photo Booth, Social Booth, The Social Booth, Sip & Snap Photo Booth, Lafayette Photo Booth,Snap Star Photo Booth,Snap Box,Gator Photo Booth,Geaux Big Entertainment,Picture This 360 Booth, Photo Bomb Dot Com, Lets Geaux Production, EpPix Selfies, Lafayette 360 Photo Booth, luxe booth, Luxe Booth, Luxe 360 Booth, photo booth rental lafayette,studio b photog,creative culture films, Berry Booths,Berry Booths - Photo Booth & Event Rentals,Sweet Rose Photography and Photo Booth Rental, Luxe Delicacies, Social Booth Co, QM Photo Booth, Adored photo booth llc,Digital Music Services,geaux social photo booth,photo booth rental lafayette,Heavely Moments Photo Booth and Event Rental LLC,bfocustudios,The Selfie Booth,Snapster Photo Booth Rentals,Snapster,Mes Amies Designer Events,Mirror Mirror Photo Booth,
snipcart_key: "YjgzYjc3YWEtYjUzOC00MTA3LTlhMmYtMzgwZDUwMDQyNjk2NjM3OTM4NzI1MTg4MjA1MjY4"
snipcart_currency: "usd"
collections:
  products:
    output: true
  wedding:
    output: true
  coordinators:
    output: true
    permalink: /:title
  booths:
    output: true
  event_type:
    output: true
defaults:
- scope:
    path: ""
  values:
    layout: default
    _options:
      content: &content_defaults
        uploads_dir: "uploads/:title"
        format: p h1 h2 h3 h4 h5 h6 div
        styles: /assets/css/theme.css
        undo: true
        redo: true
        left: text-left
        center: text-center
        right: text-right
        justify: justify-content-center
        bold: true
        italic: true
        underline: true
        strike: true
        subscript: false
        superscript: false
        blockquote: true
        table: true
        copyformatting: true
        removeformat: true
        numberedlist: true
        bulletedlist: true
        outdent: false
        indent: false
        image: true
        link: true
        embed: true
- scope:
    path: ""
    type: "products"
  values:
    layout: "product"
- scope:
    type: pages
    path: _pages/index.html
  values:
    permalink:
- scope:
    type: pages
    path: _wedding/
  values:
    permalink: /:title/
- scope:
    path: "_posts/blog"
    type: posts
  values:
    permalink: "/ohh-snap-blog/:title"
    layout: post
- scope:
    path: "_posts/help"
    type: posts
  values:
    permalink: "/ohh-snap-help/:title"
    layout: post
assets:
      cdn:
       url: https://0c123gkb.tinifycdn.com
# If you're hosting your site at a Project repository on GitHub pages
# (http://yourusername.github.io/repository-name)
# and NOT your User repository (http://yourusername.github.io)
# then add in the baseurl here, like this: "/repository-name"
# http://jekyllrb.com/docs/pagination/
# paginate: 3
# paginate_path: '/page:num/'

# Permalinks
minify_build:
  enabled: false

purge_css_light:
  enabled: false
permalink: pretty
plugins:
  #- jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-archives
exclude:
    - .jekyll-cache/
    - gemfiles/
    - Gemfile
    - Gemfile.lock
    - vendor/bundle/
    - vendor/cache/
    - vendor/gems/
    - vendor/ruby/
    - _site
