 <footer class="footer py-8 py-md-11 bg-dark border-top border-gray-900">
      <div class="container-lg">
        <div class="row d-none d-md-flex">
         
          <div class="col-6 col-md">
    
            <!-- Heading -->
            <h6 class="text-uppercase text-white mb-3 mb-md-5">
              About
            </h6>
    
            <!-- List -->
            <ul class="list-unstyled">
              <li class="mb-3">
                <a class="text-white-60" href="/help-center/">Help Center</a>
              </li>
             
              <li>
                <a class="text-white-60" href="/about-ohh-snap-photo-booth/">About us</a>
              </li>
            </ul>
    
          </div>
          
          <div class="col-6 col-md">
    
            <!-- Heading -->
            <h6 class="text-uppercase text-white mb-3 mb-md-5">
              Photo Booths
            </h6>
    
            <!-- List -->
            <ul class="list-unstyled">
              <li class="mb-3">
                <a class="text-white-60" href="/lafayette-photo-booth-rental/" title="Lafayette Portrait Booth">Portrait Photo Booth</a>
              </li>
              <li class="mb-3">
                <a class="text-white-60" href="/digital-social-booth/" title="Lafayette Selfie Station">Social Photo Booth</a>
              </li>
              <li class="mb-3">
                <a class="text-white-60" href="/lafayette-360-booth-rental/" title="Lafayette 360 Photo Booth">360 Photo Booth</a>
              </li>
              <li>
                  <a class="text-white-60" href="/romaing-event-photographer/" title="Lafayette Event Photography">Roaming Photographer</a>
                </li>
            </ul>
    
          </div>
          <div class="col-6 col-md">
    
            <!-- Heading -->
            <h6 class="text-uppercase text-white mb-3 mb-md-5">
              Connect
            </h6>
    
            <!-- List -->
            <ul class="list-unstyled">
              <li class="mb-3">
                <a class="text-white-60" href="#!"  data-bs-target="#modalSale" data-bs-toggle="modal">Event Photos</a>
              </li>
              <li class="mb-3">
                <a class="text-white-60" href="/blog/">Blogs</a>
              </li>
              <li>
                <a class="text-white-60" href="/contact-ohh-snap-photobooth/">Contact</a>
              </li>
            </ul>
    
          </div>
        </div>
        <div class="row">
              <div class="col-12">
        
                <!-- Divider -->
                <hr class="bg-white-10 my-6">
        
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col">
        
                <!-- Social -->
                <ul class="list-inline list-unstyled text-gray-600 mb-0"> 
                    {% for item in site.data.company_details.social %}
                  <li class="list-inline-item ms-2">
                      <a class="icon icon-sm" href="{{ item.link }}" title="Ohh Snap {{ item.name }} link" target="_blank">
                        <i class="fab {{ item.icon }} text-white fa-lg"/></i>
                      </a>
                    </li>
                  {% endfor %}
                 
                </ul>
        
              </div>
              <div class="col-auto">
        
                <!-- Button -->
                <a class="btn btn-sm btn-primary" href="#!">
                 Book Today!
                </a>
        
              </div>
            </div>
            <div class="row">
              <div class="col-12">
        
                <!-- Divider -->
                <hr class="bg-white-10 my-6">
        
              </div>
            </div>
            <div class="row">
              <div class="col">
        
                <!-- Brand -->
               <h2 class="text-white mb-1 ohhsnap fw-bolder">
                 Ohh Snap! Photo Booth<span class="trademark">™</span>
               </h2>
        
              </div>
              <div class="col-auto">
        
                <!-- Text -->
                <small class="text-white-80">
                  Creating memorable photo booth experiences  
                </small>
        
              </div>
            </div>
          </div>
      </div>
    </footer>