
    <!-- Gallery Modal -->
    <div class="modal fade" id="modalSale" tabindex="-1" role="dialog" aria-labelledby="modalSaleHeading" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body text-center">
    
            <!-- Close -->
            <button class="btn-close" data-bs-dismiss="modal" type="button" aria-label="Close"></button>
    
           
            <!-- Heading -->
            <h1 class="mb-4" id="modalSaleHeading">
              Looking for your photos?
            </h1>
    
            <!-- Text -->
            <p class="text-muted">
             Your amazing looking photos can be found on Facebook or our Gallery.
            </p>
      
		      	<div class="row justify-content-center text-center">
							<div class="col-md-6 col-12 mb-5">
					 <a href="https://facebook.com/ohhsnapbooth" title="Ohh Ohh Facebook page" target="_blank" class="btn btn-primary btn-round">Facebook</a>
				</div>
				<div class="col-md-6 mb-5 col-12">
					   <a href="https://gallery.ohhsnapbooth.com" title="Ohh Ohh Gallery page" target="_blank" class="btn btn-primary btn-round">Gallery</a>
				</div>
				<div class="col-md-12 text-center col-12">
					   <a href="/social-photo-booth-gallery.html" title="Ohh Ohh Social and 360 Booth Gasllery page" class="btn btn-primary btn-round">Social & 360 Booth Gallery</a>
				</div>
							</div>

    
            
          </div>
        </div>
      </div>
    </div>