<div class="modal-dialog modal-notice">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
		<h5 class="modal-title text-center" id="myModalLabel">Looking for your photos?</h5>
	  </div>
	  <div class="modal-body">
		
		<div class="instruction">
		  <p class="text-center">Your amazing looking photos can be found on Facebook or our Gallery.</p>
			<div class="row justify-content-center">
							<div class="col-md-6">
					 <a href="https://facebook.com/ohhsnapbooth" title="Ohh Ohh Facebook page" target="_blank" class="btn btn-primary btn-round" style="float: right;">Facebook</a>
				</div>
				<div class="col-md-6">
					   <a href="https://gallery.ohhsnapbooth.com" title="Ohh Ohh Gallery page" target="_blank" class="btn btn-primary btn-round">Gallery</a>
				</div>
				<div class="col-md-12 text-center">
					   <a href="/social-photo-booth-gallery.html" title="Ohh Ohh Social and 360 Booth Gasllery page" class="btn btn-primary btn-round">Social & 360 Booth Gallery</a>
				</div>
							</div>
		</div>
		
	  </div>
	  <div class="modal-footer text-center">
		   
	  </div>
	</div>
  </div>
  
   <!-- MODALS -->
    <!-- Sign in -->
    <div class="modal fade" id="modalSignIn" tabindex="-1" role="dialog" aria-labelledby="modalSignInHeading" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body text-center">
    
            <!-- Close -->
            <button class="btn-close" data-bs-dismiss="modal" type="button" aria-label="Close"></button>
    
            <!-- Heading -->
            <h1 class="mb-4" id="modalSignInHeading">
              Sign In
            </h1>
    
            <!-- Text -->
            <p>
              Don’t have an account? <a href="sign-up.html">Sign up</a>
            </p>
    
            <!-- Form -->
            <form class="mb-6">
    
              <!-- Email -->
              <div class="form-group">
                <label class="visually-hidden" for="signInEmail">
                  Your email
                </label>
                <input class="form-control" id="signInEmail" type="email" placeholder="Your email">
              </div>
    
              <!-- Password -->
              <div class="form-group">
                <div class="input-group inpit-group-merge">
                  <input class="form-control" id="signInPassword" placeholder="Your password" type="password" aria-label="Your password" aria-describedby="signInPasswordCaption">
                  <a class="input-group-text text-decoration-none text-gray-500" id="signInPasswordCaption" data-toggle="password" href="#signInPassword">
                    <i class="fe fe-eye"></i>
                  </a>
                </div>
              </div>
    
              <!-- Button -->
              <button class="btn w-100 btn-primary">
                Sign in
              </button>
    
            </form>
    
            <!-- Link -->
            <a class="fs-sm" href="password-reset.html">
              Forgot your password?
            </a>
    
          </div>
        </div>
      </div>
    </div>
    
    <!-- Sign up -->
    <div class="modal fade" id="modalSignUp" tabindex="-1" role="dialog" aria-labelledby="modalSignUpHeading" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body text-center">
    
            <!-- Close -->
            <button class="btn-close" data-bs-dismiss="modal" type="button" aria-label="Close"></button>
    
            <!-- Heading -->
            <h1 class="mb-4" id="modalSignUpHeading">
              Sign Up
            </h1>
    
            <!-- Text -->
            <p>
              Create beautiful marketing websites in hours instead of weeks.
            </p>
    
            <!-- Form -->
            <form class="mb-6">
    
              <!-- Email -->
              <div class="form-group">
                <label class="visually-hidden" for="signUpEmail">
                  Your email
                </label>
                <input class="form-control" id="signUpEmail" type="email" placeholder="Your email">
              </div>
    
              <!-- Password -->
              <div class="form-group">
                <div class="input-group inpit-group-merge">
                  <input class="form-control" id="signUpPassword" placeholder="Your password" type="password" aria-label="Your password" aria-describedby="signUpPasswordCaption">
                  <a class="input-group-text text-decoration-none text-gray-500" id="signUpPasswordCaption" data-toggle="password" href="#signUpPassword">
                    <i class="fe fe-eye"></i>
                  </a>
                </div>
              </div>
    
              <!-- Button -->
              <button class="btn w-100 btn-primary">
                Sign up
              </button>
    
            </form>
    
            <!-- Link -->
            <small class="text-muted">
              Already have an account? <a href="sign-in.html">Login</a>
            </small>
    
          </div>
        </div>
      </div>
    </div>
    
    <!-- Password reset -->
    <div class="modal fade" id="modalPasswordReset" tabindex="-1" role="dialog" aria-labelledby="modalPasswordResetHeading" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body text-center">
    
            <!-- Close -->
            <button class="btn-close" data-bs-dismiss="modal" type="button" aria-label="Close"></button>
    
            <!-- Heading -->
            <h1 class="display-4 mb-4" id="modalPasswordResetHeading">
              Password reset
            </h1>
    
            <!-- Text -->
            <p class="text-muted">
              Enter your email to reset your password.
            </p>
    
            <!-- Form -->
            <form class="mb-6">
    
              <!-- Email -->
              <div class="form-group">
                <label class="visually-hidden" for="passwordResetEmail">
                  Your email
                </label>
                <input class="form-control" id="passwordResetEmail" type="email" placeholder="Your email">
              </div>
    
              <!-- Button -->
              <button class="btn w-100 btn-primary">
                Reset password
              </button>
    
            </form>
    
            <!-- Text -->
            <small class="text-muted">
              Remember your password? <a href="sign-in.html">Log in</a>.
            </small>
    
          </div>
        </div>
      </div>
    </div>
    
    <!-- Sale -->
    <div class="modal fade" id="modalSale" tabindex="-1" role="dialog" aria-labelledby="modalSaleHeading" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body text-center">
    
            <!-- Close -->
            <button class="btn-close" data-bs-dismiss="modal" type="button" aria-label="Close"></button>
    
            <!-- Image -->
            <img class="img-fluid mb-4 mt-n11" src="./assets/img/illustrations/illustration-4.png" alt="...">
    
            <!-- Heading -->
            <h1 class="mb-4" id="modalSaleHeading">
              30 Day Free Trial
            </h1>
    
            <!-- Text -->
            <p class="text-muted">
              We’ll help you get started by getting you guides and all the basic informaiton.
            </p>
    
            <!-- Form -->
            <form class="mb-6">
    
              <!-- Email -->
              <div class="form-group">
                <label class="visually-hidden" for="saleModalEmail">
                  Your email
                </label>
                <input class="form-control" id="saleModalEmail" type="email" placeholder="Your email">
              </div>
    
              <!-- Button -->
              <button class="btn w-100 btn-primary">
                Start Trial
              </button>
    
            </form>
    
            <!-- Text -->
            <small class="text-muted">
              <a class="text-reset" data-bs-dismiss="modal" href="#!">No thanks, I hate free stuff.</a>
            </small>
    
          </div>
        </div>
      </div>
    </div>