<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white d-inline-flex">
        <div class="container-lg">
                <!-- Brand -->
                <a class="navbar-brand d-lg-none me-0 col-8" href="/" target="_self">{% if include.weddinglogo == "true" %}
                          <img class="w-50" src="/assets/img/logo/ohh-snap-photo-booth.svg" alt="{{ site.name }} logo" />
                        {% else %}
                          <img class="w-50" src="{{ site.data.company_details.logo_image }}" alt="{{ site.name }} logo" />
                        {% endif %}</a>
                <input id="menu__toggle" class="navbar-toggler" type="checkbox" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" />
                <label class="menu__btn" for="menu__toggle">
                        <span></span>
                </label>
                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <!-- Navigation -->
                        <ul class="navbar-nav justify-content-end w-100">
                                <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" id="landingsDropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                                Photo Booths
                                        </a>
                                        <div class="dropdown-positioner">
                                                <div class="dropdown-menu dropdown-menu-xl p-0" aria-labelledby="landingsDropdown">
                                                        <div class="row gx-0">

                                                                <div class="col-md-6 order-1 dropdown-menu-col rounded-top-start-0 bg-gray-900">
                                                                        <div class="dropdown-menu-body">
                                                                                <!-- Heading -->
                                                                                <h6 class="dropdown-header text-uppercase text-primary-light pt-4 pt-md-0 d-lg-block">
                                                                                        Rental Types
                                                                                </h6>
                                                                                {% for item in site.event_type %}
                                                                                {% if item.type.featured == "enabled" %}
                                                                                <a class="d-flex text-decoration-none {% if forloop.first %}{% else %}mt-4{% endif %}" href="{{item.url}}" title="Ohh Snap {{item.type.name}} Rental" target="_self">
                                                                                        <!-- Icon -->
                                                                                        <div class="icon icon-sm text-primary-light">
                                                                                              <i class="{{item.type.icon}}"></i>
                                                                                        </div>
                                                                                        <div class="ms-3">
                                                                                                <!-- Heading -->
                                                                                                <p class="fw-bold text-white mb-0">
                                                                                                        {{item.type.name}}
                                                                                                </p>
                                                                                                <!-- Text -->
                                                                                                <span class="text-gray-500">
                                                                                                        {{item.type.subtext}}
                                                                                                </span>
                                                                                        </div>
                                                                                </a>
                                                                                {% endif %}
                                                                                {% endfor %}
                                                                                <!-- Links -->
                                                                        </div>
                                                                </div>

                                                                <div class="col-md-6">
                                                                        <div class="dropdown-menu-body">

                                                                                <!-- Heading -->
                                                                                <h6 class="dropdown-header text-uppercase  d-lg-block">
                                                                                        Our Booths
                                                                                </h6>
                                                                                {% for item in site.booths %}
                                                                                {% if item.featured == "enabled" %}
                                                                                <!-- Links -->
                                                                                <a class="d-flex text-decoration-none text-reset {% if forloop.first %}{% else %}mt-4{% endif %}" href="{{item.url}}" title="{{site.location}}, LA {{item.booth.name}} Rental" target="_self">
                                                                                        <!-- Icon -->
                                                                                        <div class="icon icon-sm text-primary-light">
                                                                                                <img src="{{item.booth.icon}}" class="menu-icons" title="Ohh Snap {{item.booth.name}} Rental" />
                                                                                        </div>
                                                                                        <div class="ms-3">
                                                                                                <!-- Heading -->
                                                                                                <p class="fw-bold mb-0">
                                                                                                        {{item.booth.name}}
                                                                                                </p>
                                                                                                <!-- Text -->
                                                                                                <span class="text-muted">
                                                                                                        {{item.booth.subtext}}
                                                                                                </span>
                                                                                        </div>
                                                                                </a>
                                                                                {% endif %}
                                                                                {% endfor %}
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </li>
                                <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                                Information
                                        </a>
                                        <div class="dropdown-positioner">
                                                <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="pagesDropdown">
                                                        <div class="row gx-0">
                                                                <div class="col">
                                                                        <!-- Heading -->
                                                                        <h6 class="dropdown-header text-uppercase mb-3">
                                                                                Company
                                                                        </h6>
                                                                        <!-- Links -->
                                                                        <a class="dropdown-item" href="/about-ohh-snap-photo-booth" title="About Ohh Snap Photo Booth" target="_self">
                                                                                About
                                                                        </a>
                                                                        <a class="dropdown-item" href="/{{site.location | downcase}}-backdrop-rentals" title="{{site.location}} Event Backdrop Rentals" target="_self">
                                                                                Backdrops
                                                                        </a>
                                                                        <a class="dropdown-item" href="/become-an-attendant" title="Work for Photo Booth company" target="_self">
                                                                                Job Openings
                                                                        </a>

                                                                </div>
                                                                <div class="col">
                                                                        <!-- Heading -->
                                                                        <h6 class="dropdown-header text-uppercase mb-3">
                                                                                Blog
                                                                        </h6>
                                                                        <!-- Links -->
                                                                        <a class="dropdown-item" href="/ohh-snap-blog" title="Event and Wedding insperation Articles" target="_self">
                                                                                Articles
                                                                        </a>
                                                                        <!-- Heading -->
                                                                        <h6 class="dropdown-header text-uppercase mb-3">
                                                                                Help Center
                                                                        </h6>
                                                                        <!-- Links -->
                                                                        <a class="dropdown-item" href="/help-center" title="Get all your event photo booth rental questions answered" target="_self">
                                                                                Resources
                                                                        </a>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </li>
                        </ul>
                        <!-- Brand -->
                        <a class="navbar-brand d-none d-lg-block px-0 col-lg-3 col-md-2 mx-0 mx-md-5 text-center" href="/">{% if include.weddinglogo == "true" %}
                                  <img class="logo" src="/assets/img/logo/ohh-snap-photo-booth.svg" alt="{{ site.name }} logo" />
                                {% else %}
                                  <img class="logo" src="{{ site.data.company_details.logo_image }}" alt="{{ site.name }} logo" />
                                {% endif %}</a>
                        <!-- Navigation -->
                        <ul class="navbar-nav justify-content-start w-100">
                                <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#gallerymodal">
                                                Event Photos
                                        </a>
                                </li>
                                <li class="nav-item dropdown">
                                        <a href="/contact-ohh-snap-photobooth" title="Contact your local Photo Booth Company" class="btn btn-primary btn-sm mt-5 mt-md-0">
                                                Get a Quote
                                        </a>
                                </li>
                                <li id="cart-nav-item" class="nav-item ms-4 align-middle my-2 d-none">
                                        <a href="#" class="snipcart-checkout text-decoration-none" title="Photo Booth Resoruces">
                                                <div class="snipcart-summary">
                                                        <i class="fal fa-shopping-bag"></i>
                                                        <span class="snipcart-items-count"></span>
                                                </div>
                                        </a>
                                </li>

                        </ul>
                </div>
        </div>
</nav>
