<nav class="navbar navbar-default  navbar-fixed-top " id="sectionsNav">
	<div class="container">
		<div class="navbar-header h-60px">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar bar1"></span>
				<span class="icon-bar bar2"></span>
				<span class="icon-bar bar3"></span>
			</button>
			<a class="navbar-brand img-fluid" href="/"><img class="logo" alt="Ohh Snap Logo | Trademarked" src="../img/ohhsnap.svg" data-pin-nopin="true"></a>
		</div>
		<div class="collapse navbar-collapse" id="navigation-example">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="/" title="Ohh Snap Photo Booth Home Page">
						<i class="material-icons">home</i>
						Home
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}/about-ohh-snap-photo-booth" title="About Ohh Snap">
						<i class="material-icons">info</i>
						About
					</a>
				</li>
				{% comment %}
				<li>
					<a href="/photo-booth-packages">
						<i class="material-icons">view_carousel</i> Packages
					</a>
				</li>
				{% endcomment %}
				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown" title="Photo Booth Packages">
						<i class="fa-solid fa-rectangle-vertical-history me-3"></i>
						Packages
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu dropdown-with-icons">
						<li>
							<a href="{{ site.baseurl }}/photo-booth-packages" title="Portrait Photo Booth Rental">
								<i class="fa-solid fa-camera nav-icon text-gray me-4"></i>
								Photo Booth Rental
							</a>
						</li>
						<li>
							<a href="{{ site.baseurl }}/{{site.location}}-360-booth" title="360 Photo Booth Rental">
								<i class="fa-solid fa-rotate-reverse nav-icon text-gray me-4"></i> 360 Booth Rental
							</a>
						</li>
						<li>
							<a href="{{ site.baseurl }}/social-photo-booth" title="Digital Photo Booth Rental">
								<i class="fa-solid fa-thumbs-up nav-icon text-gray me-4"></i> Social Booth Rental
							</a>
						</li>
						<li>
							<a href="{{ site.baseurl }}/head-shots" title="Corprate Head Shots">
								<i class="fa-solid fa-user nav-icon text-gray me-4"></i>
								Head Shots
							</a>
						</li>
						<li>
							<a href="https://www.carlosandashleyphoto.com/lafayette_event_photography/" title="Event Photogreaphy" target="_blank">
								<i class="material-icons">center_focus_weak</i>
								Roaming Photography
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="{{ site.baseurl }}/photo-booth-and-photography-backdrops" title="{{site.location}} Backdrops">
						<i class="material-icons">dashboard</i>
						Backdrops
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}/ohh-snap-blog" title="Photo Booth Ideas and Examples">
						<i class="material-icons">chrome_reader_mode</i>
						Blog
					</a>
				</li>

				<li>
					<a href="{{ site.baseurl }}/contact-ohh-snap-photobooth" title="Contact a Photo Booth near you">
						<i class="fa-solid fa-phone"></i>
						Contact Us

					</a>
				</li>
				<li>
					<button data-toggle="modal" data-target="#noticeModal" class="btn btn-primary btn-round" title="Gallery Photos for Ohh Snap">
						<i class="material-icons">photo_library</i>
						Find Your Photos
					</button>
				</li>
			</ul>
		</div>
	</div>
</nav>
