 <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white d-inline-flex">
      <div class="container-lg">
    
        <!-- Brand -->
        <a class="navbar-brand d-lg-none me-0 col-8" href="/"><img class="w-50" src="{{ site.baseurl }}/{{ site.data.company_details.logo_image }}"/></a>
        
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
          <!-- Navigation -->
          <ul class="navbar-nav justify-content-end w-100">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="landingsDropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Photo Booth Rental
              </a>
              <div class="dropdown-positioner">
                <div class="dropdown-menu dropdown-menu-xl dropdown-menu-flush" aria-labelledby="landingsDropdown">
                  <div class="row align-items-center gx-0">
                    <div class="col-md-6 order-1 dropdown-menu-col rounded-top-start-0 bg-gray-900">
                      <div class="dropdown-menu-body">
                
                        <!-- Heading -->
                        <h6 class="dropdown-header text-uppercase text-primary-light pt-4 pt-md-0 d-lg-block">
                          Rental Types
                        </h6>
                
                        <!-- Links -->
                        <a class="d-flex text-decoration-none" href="{{ site.baseurl }}/wedding-photo-booth">
                
                          <!-- Icon -->
                          <div class="icon icon-sm text-primary-light">
                            <i class="fas fa-rings-wedding"></i>         
                         </div>
                
                          <div class="ms-3">
                
                            <!-- Heading -->
                            <p class="fw-bold text-white mb-0">
                              Wedding Photo Booths
                            </p>
                
                            <!-- Text -->
                            <span class="text-gray-500">
                              Minimal, image-focused content
                            </span>
                
                          </div>
                
                        </a>
                        <a class="d-flex text-decoration-none mt-4" href="{{ site.baseurl }}/corporate-photo-booth">
                
                          <!-- Icon -->
                          <div class="icon icon-sm text-primary-light">
                            <i class="fas fa-building"></i>
                         </div>
                
                          <div class="ms-3">
                
                            <!-- Heading -->
                            <p class="fw-bold text-white mb-0">
                              Corporate Photo Booths
                            </p>
                
                            <!-- Text -->
                            <span class="text-gray-500">
                              A hiring service platform
                            </span>
                
                          </div>
                
                        </a>
                        <a class="d-flex text-decoration-none mt-4" href="{{ site.baseurl }}/event-photo-booth">
                
                          <!-- Icon -->
                          <div class="icon icon-sm text-primary-light">
                          <i class="fas fa-calendar"></i>  
                          </div>
                
                          <div class="ms-3">
                
                            <!-- Heading -->
                            <p class="fw-bold text-white mb-0">
                              Event Photo Booths
                            </p>
                
                            <!-- Text -->
                            <span class="text-gray-500">
                              React programming course
                            </span>
                
                          </div>
                
                        </a>
                        <a class="d-flex text-decoration-none mt-4" href="{{ site.baseurl }}/fundraiser-and-school-photo-booth">
                
                          <!-- Icon -->
                          <div class="icon icon-sm text-primary-light">
                          <i class="fas fa-school"></i>
                          </div>
                
                          <div class="ms-3">
                
                            <!-- Heading -->
                            <p class="fw-bold text-white mb-0">
                              Fundraiser/School Photo Booths
                            </p>
                
                            <!-- Text -->
                            <span class="text-gray-500">
                              Digital integration software
                            </span>
                
                          </div>
                
                        </a>
                
                      </div>
                    </div>
                    <div class="col-md-6 order-0 dropdown-menu-col">
                      <div class="dropdown-menu-body">
                
                        <!-- Heading -->
                        <h6 class="dropdown-header text-uppercase  d-lg-block">
                          Our Booths
                        </h6>
                
                        <!-- Links -->
                        <a class="d-flex text-decoration-none text-reset" href="{{ site.baseurl }}/lafayette-photo-booth-rental">
                
                          <!-- Icon -->
                          <div class="icon icon-sm text-primary-light">
                            <img src="{{ site.baseurl }}/assets/img/icons/legacy.svg" class="menu-icons"/>       
                          </div>
                
                          <div class="ms-3">
                
                            <!-- Heading -->
                            <p class="fw-bold mb-0">
                             Portrait Booth
                            </p>
                
                            <!-- Text -->
                            <span class="text-muted">
                             A modern day photo booth
                            </span>
                
                          </div>
                
                        </a>
                        <a class="d-flex text-decoration-none text-reset mt-4" href="{{ site.baseurl }}/digital-social-booth">
                
                          <!-- Icon -->
                          <div class="icon icon-sm text-primary-light">
                            <img src="{{ site.baseurl }}/assets/img/icons/social-booth.svg" class="menu-icons"/>  
                            </div>
                
                          <div class="ms-3">
                
                            <!-- Heading -->
                            <p class="fw-bold mb-0">
                             Digital Booth
                            </p>
                
                            <!-- Text -->
                            <span class="text-muted">
                              Selfie Station
                            </span>
                
                          </div>
                
                        </a>
                        <a class="d-flex text-decoration-none text-reset mt-4" href="{{ site.baseurl }}/lafayette-360-booth-rental">
                
                          <!-- Icon -->
                          <div class="icon icon-sm text-primary-light">
                          <img src="{{ site.baseurl }}/assets/img/icons/360booth.svg" class="menu-icons"/>    
                          </div>
                
                          <div class="ms-3">
                
                            <!-- Heading -->
                            <p class="fw-bold mb-0">
                             360 Photo Booth
                            </p>
                
                            <!-- Text -->
                            <span class="text-muted">
                              360 video Slo-Mo Experience
                            </span>
                
                          </div>
                
                        </a>
                        <a class="d-flex text-decoration-none text-reset mt-4" href="{{ site.baseurl }}/romaing-event-photographer">
                
                          <!-- Icon -->
                          <div class="icon icon-sm text-primary-light">
                          <img src="{{ site.baseurl }}/assets/img/icons/roaming-photographer.svg" title="Event Photographer" class="menu-icons"/>    
                          </div>
                
                          <div class="ms-3">
                
                            <!-- Heading -->
                            <p class="fw-bold mb-0">
                             Roaming Photographer 
                            </p>
                
                            <!-- Text -->
                            <span class="text-muted">
                              Event Photographer
                            </span>
                
                          </div>
                
                        </a>
                
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Information
              </a>
              <div class="dropdown-positioner">
                <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="pagesDropdown">
                  <div class="row gx-0">
                    <div class="col">
                
                      <!-- Heading -->
                      <h6 class="dropdown-header text-uppercase mb-3">
                        Company
                      </h6>
                
                      <!-- Links -->
                      <a class="dropdown-item" href="{{ site.baseurl }}/about">
                        About
                      </a>
                      <a class="dropdown-item" href="{{ site.baseurl }}/backdrop-rentals" title="Lafayette Event Backdrop Rentals">
                            Backdrops
                      </a>
                      <a class="dropdown-item" href="{{ site.baseurl }}/become-an-attendant" title="Work Photo Booth Jobs">
                        Careers
                      </a>
                      
                      <a class="dropdown-item" href="{{ site.baseurl }}/contact-ohh-snap-photobooth" >
                          Contact
                        </a>
                    </div>
                    <div class="col">
                
                      <!-- Heading -->
                      <h6 class="dropdown-header text-uppercase mb-3">
                        Blog
                      </h6>
                
                      <!-- Links -->
                      <a class="dropdown-item" href="{{ site.baseurl }}/blog">
                        Articles
                      </a>
                      
                
                      <!-- Heading -->
                      <h6 class="dropdown-header text-uppercase mb-3">
                        Help Center
                      </h6>
                
                      <!-- Links -->
                      <a class="dropdown-item" href="{{ site.baseurl }}/help-center">
                        Resources
                      </a>
                     
                
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
    
          <!-- Brand -->
          <a class="navbar-brand d-none d-lg-block px-lg-6" href="/"><img src="{{ site.baseurl }}/{{ site.data.company_details.logo_image }}" style="width:100%"/></a>
    
          <!-- Navigation -->
          <ul class="navbar-nav justify-content-start w-100">
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#modalSale">
                Event Photos
              </a>
              
            </li>
            <li class="nav-item dropdown">
             <a href="" class="btn btn-primary btn-sm mt-5 mt-md-0">
                  Book Today!
                </a>
            </li>
           
          </ul>
    
        </div>
    
      </div>
    </nav>