<!-- begin post -->
{% assign author = site.authors[post.author] %}
 <!-- Card -->
<div class="card card-sm rounded-top-start rounded-bottom-end lift lift-lg d-flex h-100">
  <!-- Image -->
 {% if post.image %}  <img class="card-img-top bloglistimg rounded-top-start" src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.title }}">{% endif %}
  <!-- Body -->
  <div class="card-body">
    <!-- Heading -->
    <h2 class="mb-2">
     {{ post.title }}
    </h2>
    <!-- Text -->
    <p class="fs-sm mb-4">
      {{ post.excerpt | strip_html | truncatewords:15 }}
    </p>
   
    <a class="stretched-link" href="{{ post.url | absolute_url }}"></a>

  </div>
</div>
