<!-- begin post -->

 <!-- Card -->
<div class="card card-sm rounded-top-start rounded-bottom-end lift lift-lg d-flex h-100 blog-post">
  <!-- Image -->
 {% if post.image %}  <img class="card-img-top bloglistimg rounded-top-start" src="{{ post.image }}" alt="{{ post.title }}">{% endif %}
  <!-- Body -->
  <div class="card-body">
    <!-- Heading -->
    <h2 class="mb-2">
     {{ post.title }}
    </h2>
    <!-- Text -->
    <p class="fs-sm mb-4">
      {{ post.excerpt | strip_html | truncatewords:10 }}
    </p>

    <a class="stretched-link" href="{{ post.url | absolute_url | relative_url }}"></a>

  </div>
</div>
