
 <div class="col-6 col-md-4 founders investors rounded-top-start rounded-bottom-end">
	<!-- Card -->
	<div class="card card-sm bg-transparent mt-5">
	  <!-- Image -->
	  <img class="card-img-top rounded-top-start rounded-bottom-end" src="{{ product.image }}" alt="{{ product.name }}">
	  <!-- Body -->
	  <div class="card-body p-3 text-center">
		<!-- Heading -->
		<h5 class="font-sans-serif text-white mb-0">
		 {{ product.name }}
		</h5>
		<!-- Text -->
		<p class="text-white-50">
		  {{ product.description }}
		</p>
		{% include product-definition.html %}
	  </div>
	</div>
  </div>