<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', '{{site.google_analytics}}');
</script>
<!-- Map JS -->
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<!-- Vendor JS -->
<script src="/assets/js/vendor.bundle.js"></script>
<!-- Theme JS -->
<script src="/assets/js/theme.bundle.js"></script>
<script src="/assets/js/custom.js"></script>
{% comment %}
<script async src="https://cdn.snipcart.com/themes/v3.2.2/default/snipcart.js"></script>
<div id="snipcart" data-api-key="YjgzYjc3YWEtYjUzOC00MTA3LTlhMmYtMzgwZDUwMDQyNjk2NjM3OTM4NzI1MTg4MjA1MjY4" hidden></div>
{% endcomment %}


