.trademark{
	position: relative;
	left: 5px;
	top: -5px;
	transition-duration: 0.2s;
	font-size: .75em;
}
.ohhsnap{
	font-family: "Roboto Slab", serif !important;
}
section.hero {
  position: relative;
  background-color: black;
  height: 60vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

section.hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

section.hero .container {
  position: relative;
  z-index: 2;
}

section.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
.bloglistimg{height:250px;object-fit: cover;object-position: top}
/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
  section.hero {
	background: url('/assets/img/backgrounds/girls-having-fun-in-photo-booth.jpg') black no-repeat center center scroll;
  }

  section.hero video {
	display: none;
  }
}
