<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
{% include head.html %}
</head>
<body class="{% if page.url == '/' %}{% else %}overflow-hidden{% endif %}">
  {% include gallerymodal.html %}
  <a href="/chat" title="Ohh Snap's AI Assisted chat bot for all your photo booth questions"><div class="progress-wrap cursor-pointer active-progress"></div></a>
    <!-- NAVBAR -->
   {% include nav.html %}

       {{ content }}

    <!-- FOOTER -->
    {% include footer.html %}
    <!-- JAVASCRIPT -->
    {% include scripts.html %}
  </body>
</html>
