<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
{% seo %}
<!-- Styles -->
{% include head.html %}
<meta name="msvalidate.01" content="84731997131DC6D5C4CE682AF20C5C74" />
</head>
<body class="presentation-page">
  
<div class="modal fade"  id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  {% include gallerymodal.html %}
</div>	
  
{% include nav.html %}

    <div class="main main-raised">
		  {{ content }}
	</div>
	  
	   {% include footer.html %}    
	   {% include scripts.html %}         	
					
</body>
</html>