---
layout: wedding
title: '{{site.location}} LA Photo Booth Rental | Ohh Snap Photo Booth'
description: Test description
keywords: photo booth rental, photo booth rental
image: /uploads/sarah-and-william-photo-20250510-time-210514-xl6df1.jpeg
type:
  name: Wedding Photo Booths
  description: >-
    Are you ready to give your guest a memorable experience? Give them the
    keepsake they will cherish forever. Give them the gift of a photo.
  subtext: Forever Captured Moments
  icon: fas fa-rings-wedding
  featured: enabled
page-image-1: /assets/img/360/wedding.gif
page-image-2: /assets/img/portrait-booth/wedding.jpg
page-image-3: /assets/img/social-booth/social-wedding.jpeg
booth-image:
  '360': /uploads/img-2722.jpeg
  portrait: /uploads/2022-12-30-78514a.jpg
  social: /uploads/dsc-0449.jpg
  roaming: /uploads/15-glam-portrait-roaming-booth-stock.jpg
  virtual: /assets/img/virtual-booth/VirtualBoothPromoStill08.jpg
  glam: /uploads/2024-4-27-77644a.jpg
booths:
  - name: Portrait Booth
    image: /assets/img/gallery/portrait/2023-2-3-75274A.jpg
    description: >-
      Known for its studio-quality images and luxury prints, the Ohh Snap
      Portrait Booth is the perfect addition to your wedding. Guests will love
      the unforgettable memories it captures—and the stunning keepsake they get
      to take home.
    url: '{{site.location}}-photo-booth-rental'
banner:
  image: /uploads/2017-11-25-72923a.jpg
  video: https://vimeo.com/1082923847
  preheading: Ohh Snap
  title: Wedding Photo Booths
  subtext: >-
    Enjoy a seamless combination of sophistication, where lasting moments become
    treasured mementos and enhanced enjoyment.
  cta_link: /contact-ohh-snap-photobooth
  cta_text: Contact Us
permalink: wedding-photo-booth
---
<!-- SHAPE -->
<div class="position-relative">
  <div class="shape shape-fluid-x shape-top text-white">
    <div class="shape-img pb-5">
      <svg viewbox="0 0 100 50" preserveaspectratio="none"><path d="M0 25h25L75 0h25v50H0z" fill="currentColor" /></svg>        </div>
  </div>
</div>

<!-- BUTTON -->
<div class="text-center mt-n7 position-relative z1">
  <a class="btn btn-primary btn-circle" href="#about" data-scroll data-offset="0">
    <i class="fe fe-arrow-down"></i>
  </a>
</div>

<!-- ABOUT -->
<section class="pt-10 pt-md-12" id="about">
  <div class="container-lg">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-6 col-lg-5 text-center text-md-start">
        <!-- Heading -->
        <h2 class="display-4 mb-4 editable">
          Unforgettable Memories, Custom Experiences
        </h2>
        <!-- Text -->
        <p class="text-muted ">
          At Ohh Snap! Photo Booth, we believe your wedding day should be filled with fun, laughter, and unforgettable memories. Our photo booths are designed to capture the true essence of your celebration, providing both you and your guests with a unique experience that enhances your special day.
        </p>

      </div>
     <div class="col-md-5 col-lg-6">
       <div class="img-grid img-grid-4">
         <div class="img-grid-item">
           <img class="img-fluid border border-4 border-md-7 border-white shadow" src="{{page.page-image-1}}" alt="Corporate 360 video booth" data-jarallax-element="-85" />
         </div>
         <div class="img-grid-item">
           <img class="img-fluid border border-4 border-md-7 border-white shadow w-75" src="{{page.page-image-2}}" alt="Corporate portrait/headshot lounge" data-jarallax-element="-30" />
         </div>
         <div class="img-grid-item">
           <img class="img-fluid border border-4 border-md-7 border-white shadow" src="{{page.page-image-3}}" alt="Corporate social/digital booth" data-jarallax-element="-25" />
         </div>
       </div>
     </div>
    </div>
  </div>
</section>

<!-- FEATURES -->
<section class="py-10 py-md-12" data-aos="fade-up">
  <div class="container-lg">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8 text-center">

        <!-- Preheading -->
        <h6 class="text-uppercase text-primary mb-5">
           Ohh Snap Wedding Booths
        </h6>
        <!-- Heading -->
        <h2 class="display-4 mb-10">
         Why Choose a <span class="text-underline-warning">Photo Booth</span> for your Wedding?
        </h2>
      </div>
    </div>
    <div class="row mt-n8 mt-md-n9">
      <div class="col-md-6 col-lg-4">
        <!-- Item -->
        <div class="d-flex mt-8 mt-md-9">
          <!-- Icon -->
          <div class="icon text-primary-light">
           <i class="fa-duotone fa-solid fa-map fa-2x"></i>             </div>
          <!-- Body -->
          <div class="ms-5">
            <!-- Title -->
            <p class="fs-lg fw-bold mb-1">
             Versatility and Customization
            </p>
            <!-- Text -->
            <p class="fs-sm text-muted mb-0">
              Tailor the photo booth experience to your wedding theme with custom backdrops, photo layouts, and personalized props, reflecting your unique style.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Item -->
        <div class="d-flex mt-8 mt-md-9">
          <!-- Icon -->
          <div class="icon text-primary-light">
           <i class="fa-duotone fa-light fa-family fa-2x"></i>        </div>
          <!-- Body -->
          <div class="ms-5">
            <!-- Title -->
            <p class="fs-lg fw-bold mb-1">
              Fun for All Ages
            </p>
            <!-- Text -->
            <p class="fs-sm text-muted mb-0">
             Photo booths provide endless entertainment for all ages, from kids to grandparents, ensuring everyone has a blast at your celebration.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Item -->
        <div class="d-flex mt-8 mt-md-9">
          <!-- Icon -->
          <div class="icon text-primary-light">
           <i class="fa-duotone fa-light fa-print fa-2x"></i>           </div>
          <!-- Body -->
          <div class="ms-5">
            <!-- Title -->
            <p class="fs-lg fw-bold mb-1">
            Instant Memories
            </p>
            <!-- Text -->
            <p class="fs-sm text-muted mb-0">
            With instant prints and digital sharing options, your guests take home personalized keepsakes while instantly sharing the fun with friends and family.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Item -->
        <div class="d-flex mt-8 mt-md-9">
          <!-- Icon -->
          <div class="icon text-primary-light">
           <i class="fa-duotone fa-solid fa-booth-curtain fa-2x"></i>             </div>
          <!-- Body -->
          <div class="ms-5">
            <!-- Title -->
            <p class="fs-lg fw-bold mb-1">
              Seamless Integration into Your Event
            </p>
            <!-- Text -->
            <p class="fs-sm text-muted mb-0">
              Our photo booths complement any venue, enhancing the atmosphere of both elegant ballrooms and casual outdoor ceremonies without disrupting your celebration.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Item -->
        <div class="d-flex mt-8 mt-md-9">
          <!-- Icon -->
          <div class="icon text-primary-light">
          <i class="fa-duotone fa-solid fa-camera-retro fa-2x"></i>             </div>
          <!-- Body -->
          <div class="ms-5">
            <!-- Title -->
            <p class="fs-lg fw-bold mb-1">
              Capture Every Moment
            </p>
            <!-- Text -->
            <p class="fs-sm text-muted mb-0">
             From candid shots and group photos to fun boomerangs, our booths capture every special moment, ensuring you have memories to cherish forever.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Item -->
        <div class="d-flex mt-8 mt-md-9">
          <!-- Icon -->
          <div class="icon text-primary-light">
           <i class="fa-duotone fa-light fa-comment-heart fa-2x"></i>              </div>
          <!-- Body -->
          <div class="ms-5">
            <!-- Title -->
            <p class="fs-lg fw-bold mb-1">
              Enhanced Guest Engagement
            </p>
            <!-- Text -->
            <p class="fs-sm text-muted mb-0">
          Give your guests an interactive experience beyond just dancing and dining, with an exciting photo booth experience that encourages connection and fun.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- SHAPE -->
<div class="position-relative">
  <div class="shape shape-fluid-x shape-bottom text-white">
    <div class="shape-img pb-8 mb-md-11">
      <svg viewbox="0 0 100 50" preserveaspectratio="none"><path d="M0 0h100v25H75L25 50H0z" fill="currentColor" /></svg>        </div>
  </div>
</div>
<!-- IMAGE -->
<section data-jarallax data-speed=".8" class="py-14 py-md-18 bg-cover jarallax" style="background-image: url({{page.image}});"></section>

<!-- SHAPE -->
<div class="position-relative">
  <div class="shape shape-fluid-x shape-top text-light">
    <div class="shape-img pb-8 pb-md-11">
      <svg viewbox="0 0 100 50" preserveaspectratio="none"><path d="M0 25h25L75 0h25v50H0z" fill="currentColor" /></svg>        </div>
  </div>
</div>

<!-- Booth Type -->
<section class="py-10 pt-md-11 bg-light">
  <div class="container-lg" data-aos="fade-up">
    <div class="row align-items-center justify-content-between mb-10">
      <div class="col-md-6">
        <!-- Heading -->
        <h2 class="display-4 mb-4 mb-md-0">
         Explore Our  <span class="text-underline-warning">Wedding</span> Photo Booth Options
        </h2>
      </div>
      <div class="col-md-6">
        <!-- Text -->
        <p class="mb-0">
          Below, you'll find detailed information on each of our wedding photo booth options. From the classic portrait booth to the dynamic 360 experience and our fun digital booth, we have something for every wedding style.
        </p>
      </div>
    </div>
    <div class="row">
      {% for item in site.wedding %}

     {% assign words = item.name | strip | split: ' ' %}
     {% if words.size > 1 %}
       {% assign booth_key = words[1] | downcase
         | replace: '/', ''
         | replace: '-', ''
         | replace: '_', ''
         | replace: ',', ''
         | replace: '.', '' %}
     {% else %}
       {% assign booth_key = item.name | downcase %}
     {% endif %}

     {% assign img_map = page['booth-image'] %}
     {% assign card_img = img_map[booth_key] | default: item.image %}

      <div class="col-md-4 col-12 px-4 mb-5">
      <a href="{{item.url}}" title="{{site.location}} {{item.name}}">
        <!-- Card -->
        <div class="card card-sm rounded-top-start rounded-bottom-end lift">
          <!-- Image  -->
          <img class="card-img rounded-top-start" src="{{ card_img }}" alt="..." style="height:200px; width: 100%;object-fit: cover" />
          <!-- SHAPE -->
          <div class="position-relative">
            <div class="shape shape-fluid-x shape-top text-white">
              <div class="shape-img pb-4">
                <svg viewbox="0 0 100 50" preserveaspectratio="none"><path d="M0 25h25L75 0h25v50H0z" fill="currentColor" /></svg></div>
            </div>
          </div>
          <!-- Body -->
          <div class="card-body">
            <!-- Heading -->
            <div class="d-flex align-items-center mb-3">
              <!-- Logo -->
              <div class="img-fluid mb-0">
               <h3 class="h2">{{item.name}}</h3>
              </div>
              <!-- Icon -->
                <i class="fe fe-arrow-right"></i>
            </div>
            <!-- Text -->
            <small>
             {{item.short-description}}
            </small>
          </div>
        </div>
      </a>
      </div>
      {% endfor %}
  </div>
</div></section>
<!-- Photos -->
<section class="pt-12 pt-md-12 pb-11 pb-md-16 bg-dark pattern-1">
  <!-- Content -->
  <div class="container-lg">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8 text-center">
        <!-- Preheading -->
        <h6 class="text-uppercase text-primary mb-5 editable">
          smiles speak for themselves
        </h6>
        <!-- Heading -->
        <h2 class="display-4 text-white mb-9 editable">
          Actual images from our past<br /> <span class="text-underline-primary-light">photo booth</span> events.
        </h2>
      </div>
    </div>
  </div>
  <!-- Slider -->
  <div class="flickity-items-fade" data-flickity='{"imagesLoaded": true, "pageDots": false, "wrapAround": true, "adaptiveHeight": true, "adaptiveHeight": true}'>
    {% for item in site.static_files %}
    {% if item.path contains '/assets/img/gallery/wedding' %}
    <div class="gallery-image">
      <!-- Image -->
      <img class="img-fluid rounded" src="{{item.path}}" alt="{{site.location}} Studio Photo Booth {{forloop.index}}" />
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>
    {% for post in site.tags.blog %}{% if post.tags contains 'Wedding' %}{% assign article_tag = true %}{% endif %}{% endfor %}
    {% if article_tag == true %}
 <section class="pt-9 pt-md-11 posts">
  <div class="container-lg">
    <div class="row align-items-center mb-6">
      <div class="col-md-12 text-center">
        <!-- Preheading -->
        <h6 class="text-uppercase text-primary mb-5 editable">
          Posts to help with your next event
        </h6>
        <!-- Heading -->
        <h2 class="display-4 mb-9 editable">
          {{page.type.name}} <span class="text-underline-primary-light">Articles</span>
        </h2>
      </div>
    {% for post in site.tags.blog %}
    {% if post.tags contains 'Wedding' %}
         <div class="col-md-4">
         {% include postbox.html %}
          </div>
        {% endif %}
     {% endfor %}
    </div>
  </div>
</section>
    {% endif %}
<!-- TESTIMONIALS -->
<section class="py-10">
  <div class="container-lg">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12 pb-md-8">
        <!-- Slider -->
        <div class="flickity-soft-edges" data-flickity='{"asNavFor": "#testimonialsSlider", "draggable": true, "imagesLoaded": true, "pageDots": true, "prevNextButtons": true, "wrapAround": true,"adaptiveHeight": true}'>
          {% assign time_based_index = 'now' | date: "%s" | modulo: site.data.testimonial.size %}
          {% assign randomized_testimonials = site.data.testimonial | sort: 'name' %}
          {% assign randomized_testimonials = randomized_testimonials | slice: time_based_index, randomized_testimonials.size %}
          {% for testimonial in randomized_testimonials %}
          {% if testimonial.event-type == 'wedding' %}
          <div class="col-12 px-4" data-aos="fade-up">
            <!-- Blockquote -->
            <blockquote class="px-9">
              <!-- Text -->
              <p class="h1 text-center mb-8 fw-bold">
                {{testimonial.testimony}}
              </p>
              <!-- Footer -->
              <div class="d-flex align-items-center justify-content-center">
                <!-- Body -->
                <div class="ms-4 text-center">
                  <!-- Title -->
                  <p class="fw-bold mb-0">
                    {{testimonial.name}}
                  </p>
                </div>
              </div>
            </blockquote>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- CTA -->
<section class="position-relative pt-10 pt-md-12 pb-12 bg-light">
  <!-- Content -->
  <div class="container-lg">
    <div class="row justify-content-center">
      <div class="col-md-10  text-center">

        <!-- Divider -->
        <hr class="hr-sm bg-warning mx-auto mb-10 mb-md-12" />

        <!-- Preheading -->
        <h6 class="text-uppercase text-primary mb-5">
         Let's Make Your Wedding Unforgettable
        </h6>

        <!-- Heading -->
        <h2 class="display-1 mb-4">
         Book Your Wedding experience Today!
        </h2>

        <!-- Text -->
        <p>
        Let's find the perfect photo experience to match the wedding you've been dreaming of.
        </p>

        <!-- Button -->
        <a class="btn btn-primary" href="/contact-ohh-snap-photobooth">
          Get a Quote
        </a>

      </div>
    </div>
  </div>

</section>
